
# NEXT_PUBLIC_API_BASE_URL=/hrms-proxy
# NEXT_PUBLIC_CHATBOT_API_URL=/chatbot-proxy

# NEXT_PUBLIC_API_BASE_URL=http://localhost:5005
# NEXT_PUBLIC_CHATBOT_API_URL=http://localhost:5005

NEXT_PUBLIC_CHATBOT_API_URL=https://chatbot-latest-b683.onrender.com
NEXT_PUBLIC_API_BASE_URL=https://dh8ut0pnb37w5.cloudfront.net/hrms 